body {
    background-color: white;
    margin: 2px;
    height: 100%;
}

p {
  font-size: large;
}

li {
  font-size: large;
  padding: 4px;
}

/* Elements */

#container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -42px;
    overflow: hidden;
}

#header {
    margin: 0px;
    margin-bottom: 10px;
    padding: 5px;
    padding-bottom: 10px;
}

#controls {
    border: 1px solid gray;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}

#game_container {
    display: inline-block;
    overflow: hidden;
}

#game {
    position: relative;
    float: left;
    width: 60%;
    min-width: 550px;
    overflow: hidden;
    margin-bottom: 30px;
    margin-left: 5px;
    background-color: white;
}

#instructions {
    min-width: 200px;
    max-width: 29%;
    float: left;
    margin-left: 10px;
    margin-bottom: 20px;
    height: 100%;
    padding: 5px;
}

.game_on {
    border: 1px solid gray;
    box-shadow: 3px 3px gray;
    padding: 5px;
}

.game_off {
    border: 0px solid gray;
    padding: 5px;
}

#footer {
    background-color: white;
    min-width: 100%;
    float: left;
    position: fixed;
    bottom: 0;
    height: 32px;
}

/* Classes */

/* Navbar controls */

.nav_button {
    margin-top: 6px;
    color: white;
    font-size: large;
}

/* Instructions and key table */
.instruction_table {
    width: 100%;
    border-bottom: 1px solid gray;
    margin-bottom: 15px;
}

.key_table {
    width: 100%;
    margin-bottom: 15px;
}

.col1 {
    width: 20%;
    color: blue;
    font-size: large;
    vertical-align: top;
    margin-right: 10px;
}

.col2 {
    font-size: large;
    margin-left: 10px;
    padding-left: 10px;
    width: 80%;
    vertical-align: top;
}

/* Inputs */
.input_cell {
    vertical-align: center;
    padding-right: 10px;
    font-size: large;
}

.digit {
    width: 30px;
    text-align: center;
}

.digit_output {
    width: 75px;
    text-align: center;
}

.digit_row {
    height: 40px;
}

/* Cow, Bull, Multiple, or Miss */
.nothing {
    padding: 2px;
    background-color: white;
}

.placeholder {
    padding: 2px;
    color: white;
    font-size: large;
}

.miss {
    padding-left: 6px;
    padding-right: 6px;
    background-color: white;
    color: black;
    border: 2px solid black;
/*    box-shadow: 2px 2px black; */
    font-size: large;
}

.bull {
    background-color: ForestGreen;
    border: 2px solid black;
    color: white;
}

.cow {
    background-color: Gold;
    border: 2px solid black;
}

.multiple {
    border: 2px solid black;
    box-shadow: 3px 0px Red;
}