<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='bootstrap-3.3.7-dist/css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/cowbull.css') }}?v=0.1.1" rel="stylesheet" media="screen">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="{{ url_for('static', filename='bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
    <div id="header">{% block header %}{% endblock %}</div>
    <div id="body">{% block body %}{% endblock %}</div>
    <div id="footer">{% block footer %}{% endblock %}</div>
</body>
</html>