<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="static/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="static/css/cowbull.css?v=0.1.5" rel="stylesheet" media="screen">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="container">
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
        <header id="header">
            {% block header %}{% endblock %}
            <h2 class="display-3">CowBull, a guessing game</h2>
        </header>
        <nav id="controls" class="navbar navbar-dark {{navbar_colour}}">
            <form method="post" class="form-inline">
                <span class="navbar-brand">CowBull: </span>
                {% for mode in modes_table %}
                    <input class="nav_button btn btn-primary my-2 my-sm-0" type="submit" name="mode" value="{{mode.mode}}"/>
                {% endfor %}
            </form>
        </nav>
        <div id="game_container">
            {% block game %}{% endblock %}
            <div id="instructions">{% block instructions %}{% endblock %}</div>
        </div>
        <footer id="footer">{% block footer %}{% endblock %}</footer>
    </div>
</body>
</html>
