{% extends "base_template.html" %}
{% block title %}CowBull SPA{% endblock %}
{% block header %}
<h1>CowBull SPA</h1>
{% endblock %}
{% block body %}
<p>
    Welcome to the CowBull SPA Game. The objective of the game is to guess a sequence
    of digits (numbers from 0 to 9). The modes for the game are: <strong><em>{{ game_modes }}</em></strong>.
    Each mode has the following characteristics:
</p>
<table>
    <thead>
        <tr>
            <th>Mode</th>
            <th>Digits Required</th>
            <th>Guesses Allowed</th>
        </tr>
    </thead>
    <tbody>
        {% for mode in modes_table %}
            <tr>
                <td>{{mode.mode}}</td>
                <td>{{mode.digits}}</td>
                <td>{{mode.guesses}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}