{% extends "base_template.html" %}
{% block title %}CowBull SPA{% endblock %}
{% block header %}
<h1>CowBull SPA</h1>
{% endblock %}
{% block body %}
<p>
    Welcome to the CowBull SPA Game. The objective of the game is to guess a sequence
    of digits (numbers from 0 to 9). The modes for the game are: <strong><em>{{ game_modes }}</em></strong>.
    Each mode has the following characteristics:
</p>
<ul>
    {% for mode in modes_table %}
    <li><strong>{{mode.mode}}: </strong> {{mode.digits}} digits with {{mode.guesses}} guesses</li>
    {% endfor %}
</ul>
<hr>
<p>Chose a game to play:</p>
<p>
    <form>
        {% for mode in modes_table %}
            <input class="btn-primary" type="submit" name="mode" value="{{mode.mode}}"/>
        {% endfor %}
    </form>
</p>
{% endblock %}